* {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 1000px;
  padding: 4px;
  justify-content: center;
}

.sitemap {
  display: flex;
  height: 40px;
  gap: 4px;
}

.sitemap__text {
  flex-shrink: 0;
  line-height: 40px;
}

input {
  width: 100%;
}

.settings {
  display: none;
}
.settings-visible {
  display: flex;
  gap: 4px;
}

.startButton {
  display: none;
}

.startButton-visible {
  height: 40px;
  display: initial;
}
